@media(max-width: 1281px) {

    .card_value {
        flex-direction: column;
    }

    .card_name {
        text-align: center;
    }

    .header .container {
        justify-content: center;
        gap: 50px;
    }

    .promo__title {
        width: 50%;
    }

    .banners__item1_title,
    .banners__item2_title {
        width: 60%;
    }

    .about__image {
        background-size: contain;
    }

    .offers__caption {
        justify-content: center;
        gap: 100px;
    }

    .eco__case {
        padding: 20px 20px 5px 30px;
        margin-left: -400px;
    }

    .categories__col_text {
        padding: 30px 40px;   
    }

    .subscribe__newsletter_form input {
        width: 450px;
        padding: 25px 40px 25px 30px;
    }    
}

@media(max-width: 1153px) {
 
    .banners__item1_title,
    .banners__item2_title {
        width: 70%;
    }

    .info__counters_list {
        width: 190px;
        height: 190px;
    }

    .info__counters_list_circle {
        width: 180px;
        height: 180px;
    }

    .about__desk_title,
    .eco__case_title {
        width: 95%;
    } 
    
    .subscribe__newsletter {
        flex-direction: column;
    }
    
    .subscribe__newsletter_title {
        width: 100%;
        text-align: center;
    }

    .footer__inform {
        width: 45%;
    }

}

@media(max-width: 1025px) {

    .header .container {
        justify-content: space-between;
    }

    .header__nav {
        gap: 60px;
    }    
    
    .header__nav_toggle {
        display: block;
    }

    .header__nav_list {
        display: block;
        background-color: rgba(126, 182, 147,0.9);
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        z-index: 999;
        padding: 5% 5%;

        transform: translateX(0%);
        animation: toLeft 0.5s linear 1 forwards;
    }

    .header__nav_list {
        flex-direction: column;
        gap: 20px;
    }

    .header__nav_link {
        color: #fff;
    }   

    #header__nav_toggle:checked ~ .header__nav_list {
       transform: translateX(-100%);
       animation: toRight 0.5s linear 1 forwards;
    }
     
    .promo__title {
        width: 70%;
    }

    .banners,
    .about,
    .info {
        padding-top: 40px;
        padding-bottom: 50px;
    } 

    .banners__item1_title,
    .banners__item2_title {
        width: 90%;
    }

    .about .container {
        flex-direction: row-reverse;
        justify-content: center;
        align-items: center;
    }

    .about__image {
       min-height: 300px;
    }

    .about__desk {
        width: 100%;
    }

    .products .container,
    .info__testimonal {
        padding: 30px;
    }

    .products_cards,
    .offers__cards {
        gap: 10px;
    }
          
    .card_value_price {
        gap: 5px;
    }

    .about__desk_title,
    .eco__case_title {
        width: 80%;
    }

    .eco__case {
        width: 70%;
    }

    .eco__case_ttl {
        margin-top: 5px;
    }

}  

@media(max-width: 800px) {

    .btn {
        padding: 10px;
    }

    .subtitle,
    .promo__subtitle,
    .banners__item1_subtitle,
    .banners__item2_subtitle {
        font-size: 28px;
        line-height: 50px;
    }
    
    .title,
    .banners__item1_title,
    .banners__item2_title,
    .info__counters_list_num,
    .subscribe__newsletter_title {
        font-size: 38px;
        line-height: 60px;
    }
    
    .promo .container {
       min-height: 500px;
    }

    .promo__title {
        font-size: 45px;
        line-height: 60px;
    }

    .banners .container {
        flex-direction: column;
        align-items: center;
    }

    .banners__item1,
    .banners__item2 {   
        width: 70%;
        height: auto;
    }

    .about .container {
        flex-direction: column;
    }

    .about__desk {
        width: 90%;
        margin-left: 0;
    }
        
    .products_cards,
    .info__testimonal_foto,
    .info__counters {
        margin-top: 40px;
    }

    .info__testimonal {
        width: 100%;
    }

    .info__counters {
        flex-wrap: wrap;
        padding: 30px;
    }   

    .offers .container {
        padding: 70 px 0;
    }

    .offers__caption {
        flex-direction: column;
        align-items: center;
        gap: 50px;
    }

    .eco {
        background-image: url(/images/eco_img.png);
        background-repeat: no-repeat;
        background-size: cover;
    }

    .eco .container {
        padding: 0;
        flex-direction: column;
        align-items: center;
    }

    .eco__image img {
        width: 0%;
    }
    
    .eco__case {
        width: 75%; 
        margin-left: 0;
    }

    .categories__col {
        min-height: 70%;
    }

    .footer .container {
        padding: 50px 0;
    }    
}
    
@media(max-width: 769px) {
    .container {
        width: 100%;
        padding: 3%;
    }

    .info {
        padding: 0 30px;
    }
   
    .categories__col {
        width: 30%;
        height: 300px;
    }

    .categories__col_text {
        padding: 10px 20px;    
        border-radius: 10px;
        font-size: 18px;
        line-height: 24px;
    }

    .subscribe__newsletter_title {
        width: 100%;
    }

    .subscribe__newsletter_form {
        flex-direction: column;
        align-items: center;
    }
}

@media(max-width: 640px) {
    .about .container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .about__image {
       min-height: 0;
    }
    .eco__case {
        width: 90%;
    }

    .categories .container {
        flex-wrap: wrap;
        justify-content: center;
    }

    .categories__col {
        width: 200px;
        height: 250px;
    }

    .subscribe__newsletter {
        position: none;
    }

    .subscribe__newsletter_title,
    .footer__contact_title,
    .footer__utility_title {
        font-size: 24px;
    }

    .subscribe__newsletter_form input::placeholder,
    .footer__contact_item,
    .footer__utility_pages_link {
        font-size: 16px;
    }  
   
    .subscribe__newsletter {
        padding: 40px 20px;
    }

    .footer__contact,
    .footer__utility_pages,
    .footer__inform {
        gap: 15px;
    }

    .footer__inform_social {
        gap: 5px;
    }
}

@media(max-width: 480px) {

    .card_image img {
        width: 90%;
        margin: 0 auto;
    }

    .header {
        padding-top: 10px;
        padding-bottom: 10px;
    }    

    .header .container {       
        flex-direction: column;
        gap: 10px;
    }
    
    .header__nav {
        justify-content: space-between;
        align-items: center;
        gap: 120px;
    }

    .header__cart {
        margin-left: auto;
        padding: 0;
    }

    .header__nav_toggle,
    .header__cart_btn {
        width: 40px;
        height: 40px;
    }

    .header__nav_toggle {
       background-size: 25px 25px;
    }

    .banners,
    .about,
    .info,
    .offers,
    .categories {
        padding: 10px;
    }

    .subtitle,
    .promo__subtitle,
    .banners__item1_subtitle,
    .banners__item2_subtitle {
        font-size: 24px;
        line-height: 50px;
    }
    
    .title,
    .promo__title,
    .banners__item1_title,
    .banners__item2_title,
    .info__counters_list_num,
    .subscribe__newsletter_title {
        font-size: 28px;
        line-height: 40px;
    }
    
    .text,
    .btn_text,
    .info__counters_list_text,
    .footer__contact_item,
    .footer__utility_pages_link  {
        font-size: 18px;
        line-height: 28px;
    }
    
    .promo .container {
        height: 400px;
    }

    .promo__title {
        width: 90%;
    }

    .banners__item1,
    .banners__item2 {   
        width: 100%;
        min-height: 0;
    }

    .about__desk_item {
        flex-direction: column;
        align-items: center;
        margin: 0;
    }

    .about__desk_title {
        margin-bottom: 0px;
    }

    .info,
    .eco {
        background-image: none;
    }

    .offers__caption {
        gap: 10px;
    }
    
    .eco__case{
        padding: 10px;
    }

    .categories__col_text {
        padding: 5px;    
        border-radius: 10px;
        font-size: 18px;
        line-height: 20px;
    }

    .subscribe__newsletter_title,
    .footer__contact_title,
    .footer__utility_title {
        font-size: 20px;
    }

    .subscribe__newsletter_form input::placeholder,
    .footer__contact_item,
    .footer__utility_pages_link {
        font-size: 14px;
    }  
   
    .subscribe__newsletter_form input {
        width: 280px;
        padding: 15px 40px 15px 20px;
    }

    .footer .container {
        flex-direction: column-reverse;
        align-items: center;
        gap: 20px;
    }

    .footer__contact,
    .footer__contact_item {
        align-items: flex-start;
    }

    .footer__inform {
        width: 90%;
        padding: 0;    
        border-left: 0;
        border-right: 0;
        border-top: 1px solid #D5D5D5;
        border-bottom: 1px solid #D5D5D5;
    }
}

@media(max-width: 320px) {

    .header__nav {
        gap: 80px;
    }
    .promo__title {
        width: 100%;
    }

    .promo .container {
        gap: 10px;
    }
   
    .subtitle,
    .promo__subtitle,
    .banners__item1_subtitle,
    .banners__item2_subtitle {
        font-size: 22px;
        line-height: 34px;
    }
    
    .title,
    .banners__item1_title,
    .banners__item2_title,
    .info__counters_list_num,
    .subscribe__newsletter_title {
        font-size: 28px;
        line-height: 40px;
    }
    
    .text,
    .btn_text,
    .info__counters_list_text,
    .footer__contact_item,
    .footer__utility_pages_link  {
        font-size: 18px;
        line-height: 28px;
    }
   
    .promo__title {
        font-size: 32px;
        line-height: 50px;
    }

    .banners__item1,
    .banners__item2,
    .banners__item1_title,
    .banners__item2_title,
    .about__desk_title,
    .about__desk,
    .info__testimonal,
    .eco__case,
    .eco__case_title, 
    .subscribe .container {
        width: 100%;
        padding: 3%;
    }

    .products_cards,
    .categories .container {
        flex-direction: column;
        align-items: center;
    }

    .products_cards, 
    .info__testimonal_foto, 
    .info__counters {
        margin-top: 5px;
    }

    .categories__col {
        width: 60%;
    }   

}